<h1 style="color:darkblue">About Us</h1>
<div>
    <div><img class="img-align" src="../../images/About.jpg" /></div>
    <div style="color:black">
        <h3>San Tan Mobile Upholstery is an on-site Commercial Upholstery Service.</h3>
        <h3>We specialize in doing restaurant seating repairs and remodels. Using </h3>
        <h3>our mobile shop, we come to you! Working on projects Valley wide, we</h3>
        <h3>can service any commercial space in the greater Phoenix area.</h3>
        <br /><br />
        <h3>We are a small family business, and you can be assured that we take </h3>
        <h3>every one of our customer's needs very seriously! We always give free </h3>
        <h3>consults and estimates upon your request. Please feel free to call us  </h3>
        <h3>anytime if you have questions regarding your commercial seating needs.  </h3>
        <h3>Also, you are welcome to take a look at our Facebook page to see </h3>
        <h3>recent examples of our work!</h3>
    </div>
    <table style="padding-bottom: 85px">
        <tr>
            <td></td>
        </tr>
    </table>
   
</div>



