<div ng-show="account.isLoggedIn()" class="text-center">
    <a class="btn btn-danger text-center" ng-href="/productList">View Product Options Here!</a>
    <a class="btn btn-danger text-center" ng-href="/serviceRequestList">Service Request List</a>
</div>
<h1 class="text-center" style="color:darkblue "><strong>Commercial Upholstery Experts!</strong></h1>
<div class="text-center" style="color:black">
    <h3>
        San Tan Mobile Upholstery has been serving the Valley since 2012
        <br />
        Bring new life to your Establishments's Furniture with our services.
    </h3>

    <h3>
        Let our skilled professionals help you. With our more than 30 years of experience, we
        <br />
        provide complete on-site Restaurant and Commercial Establishment Upholstery.
    </h3>
</div>
<h2 class="text-center" style="color:darkblue"><strong>Dedication to Customer Satisfaction</strong></h2>
<div class="text-center" style="color:black">
    <h3>
        At San Tan Mobile Upholstery, we are dedicated to your complete satisfaction and
        <br />
        provide quality products, materials, and services at afforable prices. We have earned
        <br />
        an impeccable reputation with our fast, friendly, and detail oriented work.
        <br />
        We understand that your customer's first impression of your business is critical. Since
        <br />
        restaurant, lobby, and office furniture recieve a lot of wear and tear, we help restore
        <br />
        items such as booths and chairs to their origional appearance.
    </h3>

    <h3>
        Schedule an appointment by calling (489-808-6195), and learn more about our
        <br />
        upholstery service for your commercial establisment furniture from our company in
        <br />
        Phoenix, Arizona.
    </h3>
</div>
<h2 class="text-center" style="color:darkblue"><strong>Service Area</strong></h2>
<div class="text-center" style="color:black">
    <h3>
        Phoenix, Mesa, Apache Junction, San Tan Valley, Queen Creek, Gilbert, Chandler,
        <br />
        Tempe, Scottsdale, Glendale, Avondale, Goodyear, Buckeye, Peoria, Sun City,
        <br />
        Sun City, Suprise, Carefree, Cave Creek, Fountain Hills, Scottsdale, Maricopa, Casa Grande.
    </h3>
</div>
<h2 class="text-center" style="color:darkblue "><strong>Free Estimates Available</strong></h2>
<br />
<div class="pull-left">

    <a href="https://www.bbb.org/phoenix/business-reviews/upholsterers/san-tan-mobile-upholstery-in-san-tan-vly-az-1000034718"><img src="../../images/bbb-1.png" /></a>
</div>
<div class="pull-right">
    <a href="http://business.chandlerchamber.com/list/member/san-tan-mobile-upholstery-san-tan-valley-18120"><img src="../../images/chamber_logo_light_purple_600x182.png" /></a>
</div>
<div class="text-center">
    <a href="http://www.facebook.com/santanupholstery"><img src="../../images/facebook.png" /></a>
  
</div>