<html ng-app="PracticeStuff">
<head>
    <title>SanTan Mobile Upholstery</title>
    <link rel="shortcut icon" href="~/images/stlogo (1).jpg" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">

    <nav class="navbar-fixed-top nav navbar-left">
        <div class="container">
            <strong>
                <font size="4">
                    <a style="color: #151B8D" class="navbar-right navbar-text" href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
                    <a style="color: #151B8D" class="navbar-right navbar-text" href="/login" ng-show="!account.isLoggedIn()">Login</a>
                    <a style="color: #151B8D" class="navbar-right navbar-text"></a>
                    <a style="color: #151B8D" class="navbar-right navbar-text" href="/contact">Contact</a>
                    <a style="color: #151B8D" class="navbar-right navbar-text"></a>
                    <a style="color: #151B8D" class="navbar-right navbar-text" href="/gallery">Gallery</a>
                    <a style="color: #151B8D" class="navbar-right navbar-text"></a>
                    <a style="color: #151B8D" class="navbar-right navbar-text" href="/about">About</a>
                    <a style="color: #151B8D" class="navbar-right navbar-text"></a>
                    <a style="color: #151B8D" class="navbar-right navbar-text text-primary" href="/">Home</a>
                </font>
            </strong>
            <div ng-show="account.isLoggedIn()">
                [{{account.getUserName()}}]
            </div>
        </div>
    </nav>
    <div id="container">
        <header>
            <img src="~/images/test.jpg" />
        </header>
    </div>   
    <div>
        <div class="slider">
            <figure>
                <div class="slide">                   
                    <img src="~/images/1.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/sidelines0.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/sidelines1.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/sidelines2.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/sidelines3.jpg" /> 
                </div>
                <div class="slide">
                    <img src="~/images/oink1.jpg" /> 
                </div>
                <div class="slide">
                    <img src="~/images/oink2.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/oink3.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/2.jpg" />
                </div>                
                <div class="slide">
                    <img src="~/images/amf1.jpg" />
                </div>
                <div class="slide">
                    <img src="~/images/amf2.jpg" />
                </div>
            </figure>
        </div>
    </div>
    <div>
        <div>
            <div class="container">
               <br />
                <ui-view></ui-view>
            </div>
        </div>
    </div>
    <footer class="footer-styling" style="color: #808080">
          
            <div >               
                    <nav class="col-lg-offset-3">
                        <strong>
                            <a style="color: #808080" class="navbar-text" href="/">Home</a>
                            <a style="color: #808080" class="navbar-text">|</a>
                            <a style="color: #808080" class="navbar-text" href="/about">About</a>
                            <a style="color: #808080" class="navbar-text">|</a>
                            <a style="color: #808080" class="navbar-text" href="/gallery">Gallery</a>
                            <a style="color: #808080" class="navbar-text">|</a>
                            <a style="color: #808080" class="navbar-text" href="/contact">Contact</a>
                            <a style="color: #808080" class="navbar-text">|</a>
                            <a style="color: #808080" class="navbar-text" href="/login" ng-show="!account.isLoggedIn()">Login</a>
                            <a style="color: #808080" class="navbar-text" href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
                        </strong>
                    </nav>              
            </div>
         
        <div style="clear:both">
            <div class="pull-right">
                &#9743 (480) 808-6195
                <br />
                &#9993 santanupholstery@yahoo.com
            </div>

            <div class="pull-left">
                <div >
                    <iframe src ="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsantanupholstery&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId" width="300" height="35" style="border:none;overflow:hidden;color:antiquewhite" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
        <br />
        <br />
   

        <h5 class=" col-lg">&#xA9; 2017 San Tan Mobile Upholstery  All Rights Reserved</h5>
        @*<div  style="bottom:inherit">&#xA9; 2017 SanTan Mobile Upholstery  All Rights Reserved</div>*@
        @*<div class="col-lg-4 col-lg-push-1" style="bottom:inherit">&#xA9; 2017 SanTan Mobile Upholstery  All Rights Reserved</div>*@
    </footer>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
   
    <!-- Security -->
    <script src="~/ngApp/services/serviceRequest.js"></script>
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>
    <script src="~/ngApp/services/productService.js"></script>
    
    
</body>
</html>
 